@font-face {
    font-family: 'GothamThin';
   
    src: url('../fonts/GothamThin.woff') format('woff'),
         url('../fonts/GothamThin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.woff') format('woff'),
         url('../fonts/GothamLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

/*******************ISOTOPE CSS********************/
html{
    overflow-y: scroll;
}
* { box-sizing: border-box; }
.grid-item,
.grid-sizer {
  width: 33.3%;
}
.grid-item{
    float: left;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:30px;
}
.no-pad{
padding:0 !important;
}

.gutter-sizer { width: 2%; }
.grid-item > img{
    width: 100%;
}
.isotope:after {
    content: '';
    display: block;
    clear: both;
  }
  .is-checked {
    font-weight: bold;
    opacity: 1 !important;
}
.non-checked{
    opacity:0.3 !important;
    -webkit-transition: -webkit-all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}
.active-nav{
    border-bottom: 2px solid #0311FC !important;
    opacity:1 !important;
    -webkit-transition: -webkit-all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}
.nav-item > a{
    border-bottom: 2px solid #fff;
    -webkit-transition: -webkit-all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}
.list-group-item > a{
    -webkit-transition: -webkit-all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}
.non-active-nav{
    opacity:0.3 !important;
    -webkit-transition: -webkit-all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}

.highlight{
    opacity:0.3;
    -webkit-transition: -webkit-all .2s ease-in-out;
    transition:         all .2s ease-in-out;
 }

  
  

  .bg-img{
    height: 50vh;
    min-height: 350px;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  ::selection {
    background-color: #0311FC;
    color:white;
  }
.navbar-white{
    background-color:white;

}
#scroll-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
	border-radius: 0;
    background-color: white;
    
}
#scroll-bar::-webkit-scrollbar
{
	width: 6px;
    background-color: #F5F5F5;
   
    
}

#scroll-bar::-webkit-scrollbar-thumb
{
	border-radius: 0;
	-webkit-box-shadow: none;
	background-color: black;
}
#scroll-bar::-webkit-scrollbar-thumb:hover
{
	border-radius: 0;
	-webkit-box-shadow: none;
    background-color: blue;
   
}
body{
    font-family: 'GothamLight' !important;
}
.navbar-brand img {
    width: 100px;
   
}
.navbar-brand{
    -webkit-transition: -webkit-all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}
.navbar-brand:hover {
   opacity:0.5;
}

.page-wrapper{
    margin-top:160px;
}
.copyright{
    padding:1rem 1rem;
    font-size:11px;
}
/********************|||||||||||||||||||||           HEADER NAVIGATION          ||||||||||||||||||||************************/
#general-nav{
    padding: 15px 80px 15px 80px;
}
.nav-link{
    color:black !important;
    text-transform: uppercase ;
    font-size:12px;
    padding: .2rem .2rem !important;
    margin: 0 0 0 10rem;
}
li.nav-item > a{
    color:black !important;
    text-transform: uppercase ;
    font-size:12px;
    padding: .2rem .2rem !important;
    margin: 0 0 0 10rem;

}
li.nav-item > a:hover{
    opacity:0.5;
}

.nav-link:hover{
    opacity:0.5;
}

.active-filter{
    margin-left:10px;
 
  
}

/********************|||||||||||||||||||||           LEFT SIDE FILTERS           ||||||||||||||||||||************************/

.filter-link {
 
    display: block;
    color:black;
    font-size: 12px;
    padding: .25rem 0 .25rem 0;
}
.filter-link:hover{
    opacity:0.5;
    text-decoration: none !important;
    color:black !important;
}
.info-link{
    width: 100% !important;
    display: block;
    color:black;
    font-size: 12px;
    padding: .25rem 0 .25rem 0;
}
.info-link:hover{
    opacity:0.5;
    text-decoration: none !important;
    color:black !important;
}
.filter-button{
   
    text-transform: uppercase;
}
.filter-wrapper{
    border-bottom:1px solid black;
}
.glyph-collapse {
    position: absolute;
    top: -15px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    font-size: 23px;
}
.list-group-item{
    padding:0 !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.left-module-wrapper {
    margin-left: 80px;
    margin-right:40px;
    margin-top: 60px;
    height: 75vh; 
}
.bottom-links{
    position: absolute !important;
    bottom: 0 !important;
    padding: 0 !important;
    left: 0;
}
.bottom-wrapper{
   
    position: fixed;
right: 0;
bottom: 80px;
left: 0;
z-index: 1030;
}
.list-group-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.list-group-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.sticky-top{
      top:220px !important;
  }


  /***********************************GRID PROJECTS*********************************/
  .grid-rect{
    margin-bottom:30px;
   }
   .right-module-wrapper {
    margin-right: 80px;
    margin-left:25px;
    margin-top: 60px;
    background: white;
margin-bottom: 5vh;
}
  .project-info-card {
    position: absolute;
    padding: 1rem;
    color: black;
    opacity:0;
    visibility: hidden;
    left:15px;
    right:15px;
    font-size: 12px;
    display: none;
}
a.project-link:hover{
    cursor:crosshair;
}
a.project-link:hover img{
    opacity:0;
    }
a.project-link:hover .overlay{
    opacity:1;
   }
a.project-link:hover .project-info-card{
    opacity:1;
    visibility: visible;
    display: block;
}
   .img-fluid{
        transition: all .3s ease-out;
    }

.overlay {
    border: 3px solid #0311FC;
    opacity:0;
    position:absolute;
    top:0;
    bottom:30px;
    left:15px;
    right:15px;
    transition: all .3s ease-out;
}

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #e65100;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #000;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    /* Icon 4 */
    
    .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }
    /*************************************************PROJECT TEMPLATE DINGLE**********************************/
    .project-text {
        text-align: justify;
        font-size: 12px;
        margin-top: 1rem;
        overflow-y: scroll;
        height: 50vh;
        padding-right: 1rem;
    }
    .about-text{
        text-align: justify;
        font-size: 14px;
        margin-top: 0;
        overflow-y: auto;
        height: 50vh;
        padding-right: 1rem;

    }
    .carousel-item {
        height: 50vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
      .spacecraft-carousel-wrapper{
        margin-top: 0;
      }
      .carousel-control-next, .carousel-control-prev{
          width:50% !important;
      }
      .carousel-control-next:hover{
          cursor: url('../icons/next-single-s.png') 2 2,auto;
      }
      .carousel-control-prev:hover{
        cursor: url('../icons/prev-single-s.png')2 2,auto;
        
    }
    .module-project{
        padding:.5rem;
        font-size: 11px;

    }
    .module-project-tag{
        
        padding:.5rem;
        border-bottom:1px solid black;
        font-size: 13px;
    }
    .module-page-tag{
        
        padding:.5rem;
        border-bottom:1px solid rgba(0,0,0,.125);
        font-size: 13px;
    }
    .carousel-indicators{
        position:relative !important;
        margin:0 auto !important; 
        padding-top: 10px !important;
    }
    .carousel-indicators li{
        background-color: #000 !important;
        height: 1px !important;
        width: 5% !important;
        border-top: 15px solid transparent !important;
border-bottom: 5px solid transparent !important;
       
    }
    .carousel-indicators .active {
        opacity: 1;
        height:2px !important;
        background-color:#0311FC !important;
    }
    .project-title {
        font-size: 1.25rem;
        text-transform: uppercase;
    }
    .hero{
        display:none;
    }
    .left-project-wrapper {
        margin-left: 80px;
        margin-right:40px;
        margin-top: 0;
       /* height: 75vh; */
    }
    .left-links-wrapper {
        margin-left: 80px;
        margin-right:40px;
       
        
    }
    .right-project-wrapper {
        margin-right: 80px;
        margin-left:25px;
        margin-top: 2.75rem;
    }
    .right-page-wrapper {
        margin-right: 80px;
        margin-left:25px;
        margin-top: 0;
    }
    .right-links-wrapper{
        margin-right: 80px;
        margin-left:25px;
    }
    .footer-layer{
        position: fixed;
        z-index: -1 !important;
    }
   
    /************************************************RESPONSIVE 1200PX*****************************************/
    @media (min-width:1200px){
        .center-module{
            position: absolute;
            top:50%;
            transform:translateY(-50%);
        }
        .left-lock{
            position: fixed;
            top:160px;
            z-index: 1060;
            width:15vw;
        }
    }
    @media (max-width:1200px){
        .right-module-wrapper{
            margin-right: 25px;
            margin-left: 25px;
            margin-top: 60px;
        }
        .left-module-wrapper{
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 30px;
            height:auto !important;
        }
        .left-project-wrapper {
            margin-left: 25px;
            margin-right:25px;
            margin-top: 0;
            height:auto !important;
        }
        .right-project-wrapper {
            margin-right: 25px;
            margin-left:25px;
            margin-top: 2.75rem;
            margin-bottom:5.75rem;
        }
        .right-page-wrapper {
            margin-right: 25px;
            margin-left:25px;
            margin-top: 2.75rem;
            margin-bottom:5.75rem;
        }
        .project-text{
            overflow: hidden;
            height:auto;
        }
        .nav-link{
            margin:0 auto;
            padding:1rem 2rem !important;
        }
        li.nav-item > a{
            margin:0 auto;
            padding:1rem 2rem !important;
        }

        .menu-body {
            position: relative;
            height: 100vh;
            overflow-y: auto;
            margin-top:200px;
          
        }
        #space-craft-nav {
            position: fixed;
            left: 0;
            right: 0;
           
            z-index: 1021;
            background: white;
            top: 0;
        }
         .navbar-brand img {
            width: 90px !important;
        }
        .bottom-wrapper{
   
            position: relative;
       
        z-index: 1030;
        }
        
    }
    @media (max-width:992px){
        #general-nav {
            padding: 15px 15px 15px 15px;
        }
       

    }

    /********************ANIMATIONS*******************/
    .fade-in-bottom {
        -webkit-animation: fade-in-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: fade-in-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    /* ----------------------------------------------
 * Generated by Animista on 2020-6-11 17:48:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  